@model WebViajes365.Models.AtractivoTuristico

@{
    ViewBag.Title = "EliminarAtractivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EliminarAtractivo</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AtractivoTuristico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAtractivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAtractivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAtractivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAtractivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idLocalidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
