@model IEnumerable<WebViajes365.Models.Chat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Chat", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idChat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idChat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consulta)
        </td>
        <td>
            <a class="btn btn-primary btn-xs" title="Editar " href="@Url.Action("Modificar", "Chat", new {  id=item.idChat })"><i class="glyphicon glyphicon-edit"></i> </a>
            <a class="btn btn-info btn-xs" title="Detalles" href="@Url.Action("DetalleChat", "Chat", new {  id=item.idChat })"><i class="glyphicon glyphicon-pencil"></i> </a>
            <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action("EliminarChat", "Chat", new {  id=item.idChat })"><i class="glyphicon glyphicon-trash"></i> </a>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
