@model WebViajes365.Models.Itinerario

@{
    ViewBag.Title = "DetalleItinerario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetalleItinerario</h2>

<div>
    <h4>Itinerario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idItinerarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idItinerarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rutas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantDpto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantDpto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoItinerario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoItinerario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kmsRecorridos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kmsRecorridos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsViaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsViaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idLocalidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Modificar", new {  id = Model.idItinerarios }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
